* {
    background-color: rgb(8, 8, 8);
    color: black;
}
main {
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: #E8F0FF;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid white 5px;
}
header h1 {
    background-color: #E8F0FF;
}
.search-form {
    background-color: #E8F0FF;
    margin-top: 10px; 
    padding: 0px, 10px, 10px, 10px;
    width: 20vw;
    margin-bottom: 10px;
    border: solid white 2px;
}
.current-weather p {
    background-color: #E8F0FF;
}
.search-form h1, .search-form form {
    display: flex;
    justify-content: center;
    background-color: #E8F0FF;
}
.current-weather {
    background-color: #E8F0FF;
    margin-top: 10px;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
    width: 75vw; 
    margin-bottom: 10px;
    border: solid white 2px;
}
.history, .history h2, .history ul {
    background-color: #E8F0FF;
    width: 20vw;
}
.history {
    border: solid white 2px;
    overflow: hidden;
}
button {
    background-color: black;
    color:white; 
    margin: 5px;
}
button:hover {
    transform: translate(5px, -10%);
    box-shadow: -5px 5px 5px rgb(43, 75, 100);
}
li {
    list-style-type: none;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #E8F0FF;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}
.future-forcast {
    background-color: #E8F0FF;
    width: 75vw;
    margin-left: 10px;
    display: flex;
    height: 20vh;
    justify-content: center;
    border: solid white 2px;
}
.days {
    border: solid white 2px;
    display: flex;
    margin: 5px;
    background-color: #E8F0FF;
    align-items: center;

}
.weather-icon {
     height: fit-content;
}
img {
    background-color: #E8F0FF;
}
form input{
    color: white;
    margin-bottom: 10px;
}
.weather-icon {
    height: fit-content;
    margin-right: 10px; 
 }
 .history ul {
    max-height: 200px; /* Set a maximum height for the list */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin: 0; /* Reset margin to remove any unwanted spacing */
    padding: 0; /* Reset padding to remove any unwanted spacing */
  }
